<footer class="contenedorFooter">
    <div class="contenedorIconosWhatsapp">
        <div class="contenedorIconos">
            <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
            <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
        </div>
        <div class="contenedorWhatsapp">
            <a href="http://wa.me/5491144446961" target="_blank">
                <i class="fa-brands fa-whatsapp"></i>
                <p>5491144446961</p>
            </a>
        </div>
    </div>
    <small translate="no"><sup>©</sup>Waw viajes</small>
</footer>