<header>
    <div class="contenedorTitulo" id="contenedorTitulo">
        <h1 class="animate__animated animate__flipInY">Waw</h1>
        <p class="animate__animated animate__flipInY">EL PLACER DE VIAJAR</p>
    </div>

    <nav class="navBar" id="navBar">
        <i class="fa-solid fa-bars" id="hamburguesa"></i>
        <div id="barraOcultar">
            <ul class="navList navLinks">
                <li id="cruz"><i class="fa-solid fa-x"></i></li>
                <li><a href="/">INICIO</a></li>
                <li><a href="/destinos">DESTINOS</a></li>
                <li><a href="/nuevo_destino">AÑADIR DESTINO</a></li>
                <li><a href="/guias">NUESTROS GUIAS</a></li>
            </ul>
        </div>
    </nav>
</header>