{% include 'defaults/head.html' %}

<body>
    <!-- <noscript> para avisar si JS esta inhabilitado -->
    <noscript>Por favor habilite JavaScript en su navegador para poder visualizar el sitio</noscript>
    <div class="contenedorPrincipal">

        {% include 'defaults/banner.html' %}

        {% include 'defaults/headerPaginas.html' %}

        <div class="contenedorPortada paginas">
            <img src="{{url_for('static', filename='img/fotomar.jpg')}}" alt="Foto de playa paradisiaca">
        </div>

        <main class="paginas" id="paquetes">
            <h2>Destinos</h2>
            <div class="presentacion">
                <p>Desde la majestuosa Patagonia hasta el cautivador Norte Argentino y la encantadora región de Cuyo, te
                    ofrecemos
                    aventuras inolvidables a precios accesibles.
                </p>
            </div>

            <!-- Renderizamos contenido de la db -->

            <div class="container">

                {% for i in paquetes %}

                <div class="item">
                    <h2>{{ i[1]}}</h2>
                    <img src={{ i[4] }} alt={{ i[1] }}>
                    <p> {{ i[3] }}</p>

                    <a href="/destinos/editar_paquete/{{i[0]}}"><button class="btn-comprar">Editar</button></a>
                    <a href="/destinos/eliminar_paquete/{{i[0]}}"><button class="btn-carrito">Eliminar</button></a>
                </div>

                {% endfor %}

                <!-- Contenido de la web anterior: -->
                 
                <!-- <div class="item">
                    <h2>CUYO</h2>
                    <img src="../assets/images/cuyo.jpg" alt="foto de region de Cuyo">
                    <p>Sumérgete en la rica historia, cultura vibrante y paisajes impresionantes de esta región única.
                        Nuestro paquete incluye visitas guiadas a viñedos de Mendoza, con degustaciones de vinos y
                        aprendizaje sobre su producción.
                        Explora encantadores pueblos como Chacras de Coria y Maipú, con arquitectura colonial y
                        hospitalidad local.
                        Ofrecemos aventuras al aire libre en la Cordillera de los Andes, como senderismo, rafting y
                        cabalgatas.
                        Además, visita lugares históricos como el Parque General San Martín en Mendoza.
                        Nuestro paquete turístico en la región de Cuyo es ideal para los amantes del buen vino, la
                        naturaleza y la
                        cultura.</p>
                    <button class="btn-comprar">Info</button>
                    <button class="btn-carrito">Comprar</button>
                </div>  -->

            </div>

        </main>

        {% include 'defaults/footer.html' %}
    </div>

    <!-- Script de Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"></script>
      
    <script src="{{url_for('static', filename='js/app.js')}}"></script>
  </body>
  
  </html>